<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
     <!--
			solo copiar la sección de <connectionStrings>
			al App.config de su proyecto
    -->	
  <connectionStrings>
    <add name="SQL"
         connectionString="data source=DESKTOP-384D54S\SQLEXPRESS;Initial Catalog=ProyectoHotel;User ID=sa;Password=abc123"
         providerName="System.Data.SqlClient" />
    <add name="BaseDatos"
         connectionString="data source=DESKTOP-384D54S\SQLEXPRESS;Initial Catalog=ProyectoHotel;persist security info=True;Integrated Security=SSPI"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
     <!--
    en esta parte se pueden configurar algunos valores que se pueden utilizar en el proyecto
    -->
    <!--<add key="IVA" value="16"/>
	<add key="admin" value="alvillarreal"/>-->
  </appSettings>
</configuration>
